.app{
    max-width: 1100px;
    margin: 5rem auto;
}

.app__posts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.loading-text,
.error-text{
    font-size: 2rem;
    text-align: center;
}
.error-text{
    color: red;
}